.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(purple, black);
  padding-left: 3rem;
  padding-right: 3rem;
}

.logo {
  color: white;
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 4.2rem;
  text-align: center;
  display: flex;
}

.header {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.menuItem {
  color: white;
  font-size: 1.4rem;
  display: inline;
  margin-right: 3rem;
  cursor: pointer;
}

.menuItem:hover {
  color: rgba(255, 255, 255, 0.688);
  transition: 0.2s ease-out;
}

.menuBar {
  display: flex;
}

.commitItem {
  padding-bottom: 1.5rem;
}

.dateTime {
  color: rgba(255, 255, 255, 0.748);
  padding-left: 2rem;
}

.tile {
  background-color: rgba(0, 0, 0, 0.671);
  border-radius: 4rem;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.269);
  color: white;
  width: 40vw;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 10px;
}

.branchDetails {
  padding-top: 5px;
}

.subLink {
  display: inline-block;
  margin-right: 1rem;
  padding-top: 5px;
  font-weight: 500;
}

.subLink:hover {
  color: rgb(228, 141, 228);
  cursor: pointer;
}

.tile:hover {
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 5px 5px 5px rgb(89, 2, 89);
  border-color: transparent;
  border-width: 1px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}